/* Порядок свойств

Позиционирование
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;

 Блочная модель
  display: block;
  float: right;
  width: 100px;
  height: 100px;
  margin: 10px;
  padding: 10px;

  Типографика
  font: normal 13px/1.5 "Arial", sans-serif;
  font-style: normal;
  font-size: 13px;
  line-height: 1.5;
  font-family: "Arial", sans-serif;
  text-align: center;

  Оформление
  color: #333333;
  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  opacity: 1;

  Анимация
  transition: color 1s;

 Разное 
  will-change: auto; */

body {
	width: 768px;
	margin: 0;
	padding: 0;

	font-size: 14px;
	line-height: 26px;
	font-weight: normal;
	font-stretch: expanded;

	font-family: "PT Sans", sans-serif;
	text-transform: uppercase;

	color: #333333;
}


h1 {
	margin-bottom: 28px;

	font-size: 21px;
	line-height: 26px;
}

h2 {
	font-size: 15px;
	line-height: 30px;
}

.wrapper {
	padding: 0;
	margin: 0;
}

.clearfix::after {
  content: "";

  display: block;
  clear: both;
}





/* HEADER */

.main_header {
	position: relative;

	min-height: 56px;
	padding: 0 45px;

	color: #000000;
	background-color: #ffffff;
}

.main_navigator {
	float: left;
	margin: 0;

}

.main_navigator ul {
	list-style: none;
	margin: 0;
	padding: 0;

	font-size: 0;
}

.main_navigator li {
	display: inline-block;
	margin-right: 41px;

	font-size: 14px;
	font-weight: 700;

}

.main_navigator a {
	display: inline-block;
	padding: 14px 0;

	text-decoration: none;

	color: #000000;

}

.main_navigator a:hover {
	color: #81b3d2;
}

.main_navigator a:active {
	color: #b2b2b2;
}


.main_navigator li:nth-child(2) {
	margin-right: 181px;
	margin-left: 20px;
}
.main_navigator li:nth-child(3) {
	margin-right: 80px;
}

.main_navigator li:last-child {
	margin-right: 0;
}


.logo {
	position: absolute;
	left: 315px;
	top: 0;
}

/* MAIN */

.intro_info {
	float: left;
	margin-bottom: 37px;
	width: 768px;
}

.main_picture {
	display: block;
	width: 768px;
	height: 513px;

	background: #d6e7f1 url("../img/back.jpg") no-repeat;
}

.main_picture img {
	padding: 76px 155px;
}

.intro_features {
	display: block;
	vertical-align: middle;
	text-align: center;
	margin-top: 55px;
	margin-bottom: -1px;
}

.features_1_info,
.features_2_info {
	width: 256px;
	height: 256px;

	text-align: center;


	color: #ffffff;
	background-color: #81b3d2;
}

.features_1_info {
	float: left;
}



.features_1_2_head {
	display: block;
	margin-top: 45px;
	
	text-align: center;

	font-size: 21px;
	line-height: 21px;
}

.number {
	display: block;
	margin-top: 12px;
	margin-bottom: 22px;
}

.features_1 p,
.features_2 p {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	margin: 13px 37px;
	margin-bottom: 0;

	line-height: 21px;
}

.features_1_img {

	float: right;
	width: 512px;
	height: 257px;


	background: #ffffff url("../img/feature_1.jpg") no-repeat ;
}
.features_2_img {

	float: left;
	width: 512px;
	height: 257px;

	background: #ffffff url("../img/feature_2.jpg") no-repeat ;
}

.features_2_info {
	float: left;
}


.features_mini {

	min-height: 330px;
	font-size: 0px;

	margin-bottom: -1px;


}

.features_container {

	width: 255px;
	display: inline-block;
	
	font-size: 14px;
	line-height: 21px;
	text-align: center;
	vertical-align: top;
}

.features_mini .features_container {
	position: relative;
	padding-top: 115px;

}

.icon {
	position: absolute;
	width: 75px;
	height: 76px;
	

	background: #000000;
}

.icon_dwelling {
	left: 90px;
	top: 58px;

	background: transparent url(../img/spritesheet.png) no-repeat -20px -911px ;
}

.icon_food {
	left: 91px;
	top: 59px;

	background: transparent url(../img/burger.png) no-repeat 0px 0px ;

}

.icon_gifts {
	left: 97px;
	top: 54px;

	background: transparent url(../img/spritesheet.png) no-repeat -20px -558px ;

}

.features_name {
	display: block;
	font-size: 21px;
	padding-bottom: 4px;


}

.features_container p {
	padding: 0 45px;
}



.features_mini_2 {
	height: 255px;
	font-size: 0px;
	margin-bottom: 55px;

	background-color: #eeeeee;
}

.features_name {
	display: block;
	margin-top: 45px;
	margin-bottom: 20px;
	margin-left: 50px;
	margin-right: 50px;
}

.pre-search {
	display: block;
	text-align: center;
	vertical-align: top;

	font-size: 14px;
	line-height: 24px;
}

.pre-search span {
	font-size: 30px;
	line-height: 24px;
	font-weight: bold;
}

.pre-search p {
	margin-top: 24px;
	margin-bottom: 48px;
}



.search {
	position: relative;
	display: block;
	text-align: center;
	vertical-align: top;


}



.search_hotels {
	position: relative;
	z-index: 100;
	display: block;
	text-align: center;
	vertical-align: top;
	width: 569px;
	height: 86px;
	margin-left: 100px;

	color: #ffffff;
	background-color: #766357; 
	border: none;

	font-size: 21px;
	line-height: 26px;
	font-family: inherit;
	text-transform: inherit;
}

.search_window {
	box-sizing: border-box;
	display: inline-block;
	position: relative;
	width: 569px;
	height: 396px;
	z-index: 101;
	margin-bottom: 78px;
	text-align: center;
	vertical-align: top;
	padding-left: 53px;
	padding-right: 53px;
	padding-top: 55px;

	background-color: #ffffff; 
	box-shadow: 0 7px 30px -10px #848484;

	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
}



.arrival_line input,
.departure_line input {
	position: relative;
	box-sizing: border-box;
	width: 346px;
	height: 38px;
	margin-left: 19px;
	margin-bottom: 29px;
	padding: 13px 13px;
	padding-right: 0;

	background-color: #f2f2f2; 
	border: none;

	font-size: inherit;
	line-height: inherit;
	font-weight: inherit;
	text-transform: inherit;
}

.departure_line input{
	margin-left: 17px;
}

.arrival_line input:hover,
.departure_line input:hover,
.adults_line input:hover,
.children_line input:hover,
.plus:hover,
.minus:hover {
	background-color: #ebebeb;
}

.calendar {
	width: 21px;
	height: 22px;

	background: transparent url("../img/spritesheet.png") no-repeat -20px -130px;
}

.calendar:active {
	background: transparent url("../img/spritesheet.png") no-repeat -20px -192px;
}

.calendar:hover {
	background: transparent url("../img/spritesheet.png") no-repeat -20px -254px;
}

.calendar_1 {
	position: absolute;
	top: 8px;
	right: 13px;
}

.calendar_2 {
	position: absolute;
	top: 75px;
	right: 13px;
}

.adults_line {
	display: block;
	float: left;
	margin-right: 35px;

}

.children_line {
	display: block;
	float: right;
}


.adults_line input,
.children_line input {
	width: 38px;
	height: 36px;
	border: none;
	vertical-align: top;
	text-align: center;

	font-weight: 700;

	background-color:  #f2f2f2;
}


.btn {
	border: none;
	box-sizing: border-box;
}

.plus {
	
	width: 38px;
	height: 38px;
	margin-left: -4px;


	background-color:  #f2f2f2;
	color: #a9a9a9;

	font-size: 20px;
	font-weight: 700;
}

.minus {
	width: 38px;
	height: 38px;
	margin-right: -4px;
	margin-left: 40px;

	background-color:  #f2f2f2;
	color: #a9a9a9;

	font-size: 20px;
	font-weight: 700;
}

.children_line .minus {
	margin-left: 27px;
}

.search_window .submit {
	display: block;
	vertical-align: top;
	text-align: center;
	margin-top: 54px;
	width: 459px;
	height: 58px;

	background-color: #81b3d2;
	color: #ffffff; 

	text-transform: inherit;
	font-size: 21px;
	line-height: 26px;
	font-family: inherit;
}

.search_window .submit:hover {
	background-color: #669ec0;
}

.search_window .submit:active {
	background-color: #5496bd;
	color: #73a9c9;
}



/* FOOTER */

footer {
	display: block;
	position: relative;
	min-height: 120px;
	z-index: 100;


	background-color: rgba(255, 255, 255, 0.9);
	
}


.tag {
	display: block;
	float: left;
	width: 170px;
	margin-left: 60px;
	margin-top: 46px;

	font-size: 21px;
	font-weight: 700;
}

.footer_social {
	position: relative;

	float: left;
	width: 200px;
	margin: 0 56px;
	text-align: center;
 	
 	font-size: 0px;

}

.social_btn {
	display: inline-block;
	vertical-align: top;
	margin-left: 6px;
	margin-top: 36px;
	width: 46px;
	height: 48px;


	background: #81b3d2 url("../img/spritesheet.png") no-repeat center; 
}

.social_btn:first-child{
	margin-left: -4px;
}

.social_btn:hover {
	background-color: #669ec0;
}

.social_btn:active {
	background-color: #5496bd;
}

.social_btn_tw {
	background-position: -5px -1006px; 
}

.social_btn_tw:active {
	background-position: -5px -1061px;
}

.social_btn_fb {
	background-position: -2px -427px ;
}

.social_btn_fb:active {
	background-position: -2px -486px;
}

.social_btn_yt {
	background-position: -7px -1117px;
}

.social_btn_yt:active {
	background-position: -7px -1173px;
}


.footer_copyright {
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin-right: 30px;
	padding-top: 31px;
	float: right;
	width: 195px;
}

.footer_copyright a {
	position: absolute;
	bottom: 3px;
	right: 0px;
	width: 114px;
	height: 41px;
	
	font-size: 0px;
	
	background: transparent url("../img/spritesheet.png")  no-repeat -20px -674px;
}

.footer_copyright a:hover {
	background: transparent url("../img/spritesheet.png") no-repeat -20px -832px;
}

.footer_copyright a:active {
	background: transparent url("../img/spritesheet.png") no-repeat -20px -753px;
}


.map {
	position: relative;
	top: -593px;
	width: 768px;
	height: 593px;
	background: transparent url("../img/map.jpg") no-repeat 100%;
	z-index: 1;


}




/*  SECOND PAGE  */


.choice_list {
	width: 768px;
	height: 217px;
	float: left;

	background: #000000 url("../img/back_hotel.jpg") no-repeat;
}

.left {
	float: left;
	display: block;
	vertical-align: top;
	padding-top: 10px;

	color: #ffffff;

}

.infrastructure {
	display: block;
	float: left;
	vertical-align: top;
	margin-right: 102px;

}

.dwelling_type {
	display: block;
	float: right;
}

.left ul {
	position: relative;
	list-style: none;
	padding: 0;
	font-size: 14px;
	line-height: 21px;
}

.left p{
	font-size: 16px;
	line-height: 21px;
	font-weight: 700;
	padding-bottom: 10px;
	padding-left: 2px;
}

.left li {
	display: block;

	vertical-align: top;
	padding-bottom: 25px;
	margin-left: 4px; 
	padding-top: 0;

	height: 22px;


}

.left input {
	background: #000000 url("../img/calendar.png") no-repeat;


}

.point {

	vertical-align: top;
 	margin: 0 3px 0 0;
 
}

.point + label {
	cursor: pointer;
	display: inline-block; 
	height: 24px;

}

.point + label:before {
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;

}

.point:not(checked) {
	position: absolute;
	opacity: 0;
}

.point:not(checked) + label {
	position: relative;
	padding-left: 38px;

	background: transparent url("../img/spritesheet.png") -20px -316px;
}

.point:checked {
	position: absolute;
	opacity: 0;
}

.point:checked + label {
	position: relative;
	padding-left: 38px;

	background: transparent url("../img/spritesheet.png") -20px -378px;
}




.right {
	float: right;
	width: 225px;
	margin-top: 10px;

	color: #ffffff;
	text-transform: uppercase;

}

.filter_title {
	margin-bottom: 9px;

	font-weight: 600;
  	font-size: 16px;
  	line-height: 21px;
}

.price_controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;

  font-size: 0px;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price_controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price_controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price_controls .min_price,
.price_controls .max_price {
  width: 90px;
  padding-left: 20px;

}

.price_controls input {
  width: 50px;
  margin: 0 0 0 5px;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range_controls {
  position: relative;

  margin-bottom: 32px;
}

.range_controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range_controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range_toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range_toggle:hover {
  background: #1c4f80;
}

.range_toggle_min {
  left: 0;
}

.range_toggle_max {
  left: 80%;
}



.hotel_type {
	margin: 0 43px;
}

.btn_transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn_transparent:hover {
  color: #000000;

  background: #ffffff;
}



.result {

	display: inline-block;
	vertical-align: top;

}
.sorting {
	min-height: 78px;
	padding: 9px 2px 0;
	margin: 0 43px;
}


.sorting p {
	display: inline-block;
	margin-right: 45px;

	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
}

.sorting_by {
	position: relative;

	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
	line-height: 18px;
}

.sorting_by span {
	padding-right: 8px;
}

.sorting_by ul {
	display: inline-block;
	vertical-align: top;
	padding: 0;
	
	list-style: none;
	font-size: 0;

}

.sorting_by li {
	display: inline-block;
	padding-left: 31px;
	
	font-size: 12px;
	line-height: 18px;
}

.sorting_by a {
	display: inline-block;
	text-decoration: none;
	
	border-bottom: 1px dotted #81b3d2;
	color: #d5d5d5;
}

.sorting_by a:hover {
	color: #81b3d2;
}

.sorting_by a:active {
	border: none;
	color: #81b3d2;
}

.direction {
	position: absolute;
	top: 0;
	right: -170px;

	font-size: 14px;
	color: #cccccc;	
}

.direction span:hover {
	color: #000000;
}

.direction span:active {
	color: #81b3d2;
}

.direction > .active {
	color: #81b3d2;
}

.direction > .active:hover {
	color: #81b3d2;
}

.founded_hotel {
	display: block;
	width: 768px;
}

.founded_hotel_list {
	position: relative;
	display: block;
	box-sizing: border-box;
	vertical-align: middle;
	min-height: 151px;
	padding-top: 24px;
	
	border-top: 1px solid #e5e5e5;

}

.founded_hotel_list:last-child {
	border-bottom: 1px solid #e5e5e5;;
}

.hotel_picture {
	position: absolute;
	top: 30px;
	left: 47px;

	width: 135px;
	height: 90px;

	background: #ffffff;
}

.hotel_picture_1 {
	background: transparent url("../img/hotel_1.jpg") no-repeat;
}

.hotel_picture_2 {
	background: transparent url("../img/hotel_2.jpg") no-repeat;
}

.hotel_picture_3 {
	background: transparent url("../img/hotel_3.jpg") no-repeat;
}

.hotel_info {
	display: inline-block;
	margin-left: 211px;
	width: 370px;
}

.hotel_info > a {
	display: block;
	margin-bottom: -22px;

	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	text-decoration: none;
	color: #000000;
}

.hotel_info > a:hover {
	color: #81b3d2;
}

.hotel_info .price {
	position: absolute;
	bottom: 69px;
	left: 328px;

	display: block;
}

.btns a {
	display: inline-block;
	margin-top: 13px;
	text-align: center;
	
	color: #ffffff;

	text-decoration: none;
	font-weight: 700;


}

.more_btn {
	display: inline-block;
	width: 110px;
	height: 27px;
	margin-right: 2px;

	background-color: #81b3d2;  
}

.more_btn:hover {
	background-color: #669ec0;
}

.more_btn:active {
	background-color: #5496bd;
	color: #88b6d1;
}

.reserv_btn {
	display: inline-block;
	width: 142px;
	height: 27px;

	background-color: #766357;
}

.reserv_btn:hover {
	background-color: #604e43;
}

.reserv_btn:active {
	background-color: #503e33;
	color: #857871;
}


.rating span{
	position: absolute;
	width: 155px;


}

.rating span:first-child {
	top: 25px;
	right: 45px;

	display: block;
	text-align: right;

	font-size: 22px;

	color: #81b3d2;
}

.rating span:last-child {
	bottom: 30px;
	right: 45px;

	display: block;
	text-align: center;
	width: 110px;
	height: 27px;

	background: #f2f2f2;
}

li > .current {
	color: #766357;
}

li > .current:hover {
	color: #604e43;
}

li > .current:active {
	color: #d6d0cc;
}

li > .active {
	color: #b1cee2;
	border: none;
}